<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">todoapp</h3>
</div>

<div class="row" ng-controler="MainCtrl">
	<input type="text" placeholder="Type todo..." name="newTodo" ng-model="newTodo">
	<button ng-click="addTodo(newTodo)">Add</button>
	<div ng-repeat="todo in todos">
		<input type="checkbox" ng-model="todo.done">
		{{todo.task}} <span ng-show="todo.done">..is done</span>
		<button ng-click="removeTodo($index)">X</button>
	</div>
</div>


<div class="footer">
	<p>♥ from the Yeoman team</p>
</div>